{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="video-container">

    <!-- Video -->
    <video autoplay muted loop playsinline>
        <source src="{% static 'videos/phone-in-bed.mp4' %}" type="video/mp4">
    </video>

    <!-- White transparent overlay -->
    <div class="video-overlay"></div>

    <!-- Logo overlay -->
    <div class="logo-overlay">
        <img src="{% static 'images/regulate-logo.png' %}" alt="Regulate Logo">
    </div>

</div>

{% endblock %}
